<?xml version="1.0" encoding="gb2312"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<log4net>
    <!--定义输出到文件中-->
		<appender name="HISUNLOGFILE" type="log4net.Appender.RollingFileAppender,log4net">
      <!--定义文件存放位置-->
      <file value="logs/hisun.aspnet.log" />
      <param name="AppendToFile" value="true" />
			<maximumFileSize value="100KB" />
			<maxSizeRollBackups value="100" />
		  <layout type="log4net.Layout.PatternLayout, log4net">
         <conversionPattern value="%n%d [%t] %-5p %c - %m%n" />
      </layout>
		</appender>
		<root name="MCGASP">
			<level value="ALL" />
			<appender-ref ref="HISUNLOGFILE" />
		</root>
	</log4net>

	<system.web>
     <!-- 设置请求和响应的编码 -->
     <globalization fileEncoding="gb2312" requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-CN" />
    <!-- 监听后台通知-->
     <httpHandlers>
        <add verb="*" path="NotifyUrl.aspx" type="Com.HisunCmpay.NotifyHttpHandler" />
     </httpHandlers>
  </system.web>
  
  <system.webServer>
     <!-- 当请求未包含特定资源时，Web 服务器返回给客户端的默认文档 -->
     <defaultDocument enabled="false">
        <files>
           <add value="Index.aspx" />
        </files>
     </defaultDocument>
     
     
  </system.webServer>
</configuration>