@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, button{padding:0; margin:0; }
img{border:0px;}
/*input, label, select, option, textarea, button, fieldset, legend{font:12px/16px Verdana, Simsun, Helvetica Neue, Arial, sans-serif; padding:0px; margin:0px; outline-style:none;}*/
ul, li{list-style:none; padding:0px; margin:0px;}
a{ text-decoration:none; outline:none;}
em{ font-style:normal;}
.float_left{ float:left;}
.float_right{ float:right;}
.clear{ clear:both; *height:0px; *overflow:hidden;}
.posire{ position:relative;}
.hidden{ display:none;}
.show{ display:block;}
body{ padding:0px; margin:0px; background-color:#fff;word-wrap: break-word;}
img{ border:0px; vertical-align:top;  }
/*html{ font-size:22px;}*/