<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hszsd.user.dao.NoticeMapper">
  <resultMap id="BaseResultMap" type="com.hszsd.entity.Notice">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="EMAIL" jdbcType="DECIMAL" property="email" />
    <result column="PHONE" jdbcType="DECIMAL" property="phone" />
    <result column="MESSAGE" jdbcType="DECIMAL" property="message" />
    <result column="CREATE_TIME" jdbcType="DECIMAL" property="createTime" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, USER_ID, EMAIL, PHONE, MESSAGE, CREATE_TIME, TYPE
  </sql>
  <select id="selectByExample" parameterType="com.hszsd.entity.example.NoticeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from HSPRD.TB_NOTICE_040
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HSPRD.TB_NOTICE_040
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <insert id="insert" parameterType="com.hszsd.entity.Notice">
    insert into HSPRD.TB_NOTICE_040 (ID, USER_ID, EMAIL, 
      PHONE, MESSAGE, CREATE_TIME, 
      TYPE)
    values (#{id,jdbcType=DECIMAL}, #{userId,jdbcType=VARCHAR}, #{email,jdbcType=DECIMAL}, 
      #{phone,jdbcType=DECIMAL}, #{message,jdbcType=DECIMAL}, #{createTime,jdbcType=DECIMAL}, 
      #{type,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.hszsd.entity.Notice">
    insert into HSPRD.TB_NOTICE_040
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="message != null">
        MESSAGE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="type != null">
        TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=DECIMAL},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=DECIMAL},
      </if>
      <if test="message != null">
        #{message,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        #{type,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hszsd.entity.example.NoticeExample" resultType="java.lang.Integer">
    select count(*) from HSPRD.TB_NOTICE_040
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update HSPRD.TB_NOTICE_040
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        EMAIL = #{record.email,jdbcType=DECIMAL},
      </if>
      <if test="record.phone != null">
        PHONE = #{record.phone,jdbcType=DECIMAL},
      </if>
      <if test="record.message != null">
        MESSAGE = #{record.message,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=DECIMAL},
      </if>
      <if test="record.type != null">
        TYPE = #{record.type,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update HSPRD.TB_NOTICE_040
    set ID = #{record.id,jdbcType=DECIMAL},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=DECIMAL},
      PHONE = #{record.phone,jdbcType=DECIMAL},
      MESSAGE = #{record.message,jdbcType=DECIMAL},
      CREATE_TIME = #{record.createTime,jdbcType=DECIMAL},
      TYPE = #{record.type,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hszsd.entity.Notice">
    update HSPRD.TB_NOTICE_040
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=DECIMAL},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=DECIMAL},
      </if>
      <if test="message != null">
        MESSAGE = #{message,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hszsd.entity.Notice">
    update HSPRD.TB_NOTICE_040
    set USER_ID = #{userId,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=DECIMAL},
      PHONE = #{phone,jdbcType=DECIMAL},
      MESSAGE = #{message,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=DECIMAL},
      TYPE = #{type,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>