<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hszsd.user.dao.TbUserMapper">
	<resultMap id="BaseResultMap" type="com.hszsd.user.po.TbUser">
		<id column="USER_ID" property="userId" jdbcType="VARCHAR" />
		<result column="TYPE_ID" property="typeId" jdbcType="DECIMAL" />
		<result column="USERNAME" property="username" jdbcType="VARCHAR" />
		<result column="PASSWORD" property="password" jdbcType="VARCHAR" />
		<result column="PAYPASSWORD" property="paypassword" jdbcType="VARCHAR" />
		<result column="ISLOCK" property="islock" jdbcType="DECIMAL" />
		<result column="STATUS" property="status" jdbcType="DECIMAL" />
		<result column="GROWTHVALUE" property="growthvalue" jdbcType="DECIMAL" />
		<result column="OLD_USERNAME" property="oldUsername" jdbcType="VARCHAR" />
		<result column="REAL_NAME" property="realName" jdbcType="VARCHAR" />
		<result column="SEX" property="sex" jdbcType="DECIMAL" />
		<result column="CARD_TYPE" property="cardType" jdbcType="DECIMAL" />
		<result column="CARD_ID" property="cardId" jdbcType="VARCHAR" />
		<result column="CARD_PIC1" property="cardPic1" jdbcType="VARCHAR" />
		<result column="CARD_PIC2" property="cardPic2" jdbcType="VARCHAR" />
		<result column="LICPIC_URL" property="licpicUrl" jdbcType="VARCHAR" />
		<result column="UPTIME" property="uptime" jdbcType="DECIMAL" />
		<result column="AVATAR" property="avatar" jdbcType="VARCHAR" />
		<result column="HEAD_URL" property="headUrl" jdbcType="VARCHAR" />
		<result column="NATION" property="nation" jdbcType="VARCHAR" />
		<result column="EMAIL" property="email" jdbcType="VARCHAR" />
		<result column="PHONE" property="phone" jdbcType="VARCHAR" />
		<result column="BIRTHDAY" property="birthday" jdbcType="VARCHAR" />
		<result column="REMIND" property="remind" jdbcType="DECIMAL" />
		<result column="ADDRESS" property="address" jdbcType="VARCHAR" />
		<result column="ADDTIME" property="addtime" jdbcType="DECIMAL" />
		<result column="NID" property="nid" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="UserResultMap" type="com.hszsd.user.po.UserModel">
		<id column="USER_ID" property="userId" jdbcType="VARCHAR" />
		<result column="USERNAME" property="username" jdbcType="VARCHAR" />
		<result column="USE_CREDIT" property="useCredit" jdbcType="DECIMAL" />
		<result column="USE_MONEY" property="useMoney" jdbcType="DECIMAL" />
		<result column="REAL_NAME" property="realName" jdbcType="VARCHAR" />
		<result column="SEX" property="sex" jdbcType="DECIMAL" />
		<result column="NATION" property="nation" jdbcType="VARCHAR" />
		<result column="EMAIL" property="email" jdbcType="VARCHAR" />
		<result column="PHONE" property="phone" jdbcType="VARCHAR" />
		<result column="BIRTHDAY" property="birthday" jdbcType="VARCHAR" />
		<result column="ADDRESS" property="address" jdbcType="VARCHAR" />
		<result column="VIP_LEVEL" property="vipLevel" jdbcType="VARCHAR" />
		<result column="PASSWORD" property="password" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="DECIMAL" />
		<result column="ISLOCK" property="islock" jdbcType="DECIMAL" />
	</resultMap>
	<resultMap id="UserInfoResultMap" type="com.hszsd.user.dto.UserInfoDTO">
		<id column="USER_ID" property="userId" jdbcType="VARCHAR" />
		<result column="USERNAME" property="username" jdbcType="VARCHAR" />
		<result column="USE_CREDIT" property="useCredit" jdbcType="DECIMAL" />
		<result column="USE_MONEY" property="useMoney" jdbcType="DECIMAL" />
		<result column="REAL_NAME" property="realName" jdbcType="VARCHAR" />
		<result column="SEX" property="sex" jdbcType="DECIMAL" />
		<result column="NATION" property="nation" jdbcType="VARCHAR" />
		<result column="EMAIL" property="email" jdbcType="VARCHAR" />
		<result column="PHONE" property="phone" jdbcType="VARCHAR" />
		<result column="BIRTHDAY" property="birthday" jdbcType="VARCHAR" />
		<result column="ADDRESS" property="address" jdbcType="VARCHAR" />
		<result column="VIP_LEVEL" property="vipLevel" jdbcType="VARCHAR" />
		<result column="real_status" property="realStatus" jdbcType="DECIMAL" />
		<result column="email_status" property="emailStatus" jdbcType="DECIMAL" />
		<result column="phone_status" property="phoneStatus" jdbcType="DECIMAL" />
		<result column="video_status" property="videoStatus" jdbcType="DECIMAL" />
		<result column="scene_status" property="sceneStatus" jdbcType="DECIMAL" />
	</resultMap>


	<!--getUserInfo接口获取用户信息返回实体-->
	<resultMap id="GetUserinfoResultMap" type="com.hszsd.user.dto.GetUserInfoDTO">
		<id column="USER_ID" property="userId" jdbcType="VARCHAR" />
		<result column="USERNAME" property="username" jdbcType="VARCHAR" />
		<result column="USE_CREDIT" property="useCredit" jdbcType="DECIMAL"/>
		<result column="USE_MONEY" property="useMoney" jdbcType="DECIMAL"/>
		<result column="REAL_NAME" property="realName" jdbcType="VARCHAR" />
		<result column="SEX" property="sex" jdbcType="DECIMAL" />
		<result column="VIP_LEVEL" property="vipLevel" jdbcType="VARCHAR" />
		<result column="NATION" property="nation" jdbcType="VARCHAR" />
		<result column="EMAIL" property="email" jdbcType="VARCHAR" />
		<result column="PHONE" property="phone" jdbcType="VARCHAR" />
		<result column="BIRTHDAY" property="birthday" jdbcType="VARCHAR" />
		<result column="ADDRESS" property="address" jdbcType="VARCHAR" />
		<result column="TYPE_ID" property="typeId" jdbcType="DECIMAL" />
		<result column="ISLOCK" property="islock" jdbcType="DECIMAL" />
		<result column="STATUS" property="status" jdbcType="DECIMAL" />
		<result column="GROWTHVALUE" property="growthvalue" jdbcType="DECIMAL" />
		<result column="REAL_STATUS" property="realStatus" jdbcType="DECIMAL" />
		<result column="EMAIL_STATUS" property="emailStatus" jdbcType="DECIMAL" />
		<result column="PHONE_STATUS" property="phoneStatus" jdbcType="DECIMAL" />
		<result column="VIDEO_STATUS" property="videoStatus" jdbcType="DECIMAL" />
		<result column="SCENE_STATUS" property="sceneStatus" jdbcType="DECIMAL" />
		<result column="AVATAR" property="avatar" jdbcType="VARCHAR" />
	</resultMap>
	<!--getUser获取用户信息MAP-->
	<resultMap id="GetUserResultMap" type="com.hszsd.user.dto.UserDTO">
		<id column="USER_ID" property="userId" jdbcType="VARCHAR" />
		<result column="USERNAME" property="username" jdbcType="VARCHAR" />
		<result column="USE_CREDIT" property="useCredit" jdbcType="DECIMAL"/>
		<result column="USE_MONEY" property="useMoney" jdbcType="DECIMAL"/>
		<result column="REAL_NAME" property="realName" jdbcType="VARCHAR" />
		<result column="SEX" property="sex" jdbcType="DECIMAL" />
		<result column="VIP_LEVEL" property="vipLevel" jdbcType="VARCHAR" />
		<result column="NATION" property="nation" jdbcType="VARCHAR" />
		<result column="EMAIL" property="email" jdbcType="VARCHAR" />
		<result column="PHONE" property="phone" jdbcType="VARCHAR" />
		<result column="BIRTHDAY" property="birthday" jdbcType="VARCHAR" />
		<result column="ADDRESS" property="address" jdbcType="VARCHAR" />
		<result column="AVATAR" property="avatar" jdbcType="VARCHAR" />
	</resultMap>


	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Sql">
		u.USER_ID,USERNAME,REAL_NAME,SEX,NATION,EMAIL,PHONE,BIRTHDAY,ADDRESS
		,(select vip.grade_level from HSPRD.TB_VIPSCOPE_051 vip where
		vip.minimum &lt;=u.growthvalue and vip.maximal &gt;=u.growthvalue and
		rownum=1) as VIP_LEVEL,u.STATUS,ISLOCK
	</sql>
	<sql id="Base_Column_List">
		TYPE_ID, PASSWORD, PAYPASSWORD, GROWTHVALUE, OLD_USERNAME, CARD_TYPE,
		CARD_ID, CARD_PIC1, CARD_PIC2, LICPIC_URL, UPTIME, AVATAR , REMIND,
		ADDTIME, NID,
		<include refid="Base_Sql" />
	</sql>
	<sql id="Base_Column_Certification">
		TYPE_ID, PASSWORD, PAYPASSWORD, GROWTHVALUE, OLD_USERNAME, CARD_TYPE,
		CARD_ID, CARD_PIC1, CARD_PIC2, LICPIC_URL, UPTIME, AVATAR , REMIND,
		ADDTIME, NID,
		<include refid="Base_Sql" />
	</sql>
	<select id="countByExample" parameterType="com.hszsd.user.po.TbUserExample"
		resultType="java.lang.Integer">
		select count(1) from HSPRD.TB_USER_023 u inner join
		hsprd.tb_userinfo_024 uf on u.user_id=uf.user_id
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<!-- 获取用户编号 -->
	<select id="selectUserIdExample" resultMap="BaseResultMap"
		parameterType="com.hszsd.user.po.TbUserExample">
		select U.USER_ID,ISLOCK,STATUS,PASSWORD
		from hsprd.tb_user_023 u
		inner join hsprd.tb_userinfo_024 uf
		on u.user_id=uf.user_id
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<!-- 获取用户信息 -->
	<select id="selectUserExample" resultMap="UserResultMap"
		parameterType="com.hszsd.user.po.TbUserExample">
		select
		<if test="distinct">
			distinct
		</if>
		'true' as QUERYID,USE_CREDIT,USE_MONEY,PASSWORD,
		<include refid="Base_Sql" />
		from hsprd.tb_user_023 u
		inner join hsprd.tb_userinfo_024 uf
		on u.user_id=uf.user_id
		inner join hsprd.tb_credit_026 c
		on c.user_id=u.user_id
		inner join hsprd.tb_account_027 a
		on a.user_id=u.user_id
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<!-- 获取用户信息 -->
	<select id="selectUserInfoExample" resultMap="UserInfoResultMap"
		parameterType="com.hszsd.user.po.TbUserExample">
		select
		<if test="distinct">
			distinct
		</if>
		'true' as QUERYID,USE_CREDIT,USE_MONEY,REAL_STATUS ,
		EMAIL_STATUS ,
		PHONE_STATUS ,
		VIDEO_STATUS ,
		SCENE_STATUS,
		<include refid="Base_Sql" />
		from hsprd.tb_user_023 u
		inner join hsprd.tb_userinfo_024 uf
		on u.user_id=uf.user_id
		inner join hsprd.tb_credit_026 c
		on c.user_id=u.user_id
		inner join hsprd.tb_account_027 a
		on a.user_id=u.user_id
		inner join HSPRD. TB_CERTIFICATION_025 cf
		on cf.user_id=u.user_id
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.hszsd.user.po.TbUserExample">
		select
		<if test="distinct">
			distinct
		</if>
		'true' as QUERYID,
		<include refid="Base_Column_List" />
		from HSPRD.TB_USER_023 u inner join hsprd.tb_userinfo_024 uf on
		u.user_id=uf.user_id
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from HSPRD.TB_USER_023 u inner join hsprd.tb_userinfo_024 uf on
		u.user_id=uf.user_id
		where u.USER_ID = #{userId,jdbcType=VARCHAR}
	</select>


	<select id="getUserinfoExample" resultMap="GetUserinfoResultMap"
			parameterType="com.hszsd.user.po.TbUserExample">
		select u.user_id, u.username, ucy.use_credit, ua.use_money, uf.real_name,
		uf.sex,
		(select vip.grade_level
		from HSPRD.TB_VIPSCOPE_051 vip
		where vip.minimum &lt;= u.growthvalue
		and vip.maximal &gt;= u.growthvalue
		and rownum = 1) as VIP_LEVEL, uf.nation, uf.email, uf.phone,
		uf.birthday, uf.address,uf.avatar, u.type_id, u.islock, u.status, u.growthvalue,
		uc.real_status, uc.email_status, uc.phone_status, uc.video_status,
		uc.scene_status
		from HSPRD.TB_USER_023 u
		inner join hsprd.tb_userinfo_024 uf
		on u.user_id = uf.user_id
		inner join HSPRD.TB_CERTIFICATION_025 uc
		on u.user_id = uc.user_id
		inner join HSPRD.TB_ACCOUNT_027 ua
		on u.user_id = ua.user_id
		inner join HSPRD.TB_CREDIT_026 ucy
		on u.user_id = ucy.user_id
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>

	</select>

	<select id="getUserExample" resultMap="GetUserResultMap"
			parameterType="com.hszsd.user.po.TbUserExample">
		select u.user_id, u.username, ucy.use_credit, ua.use_money, uf.real_name,
		uf.sex,
		(select vip.grade_level
		from HSPRD.TB_VIPSCOPE_051 vip
		where vip.minimum &lt;= u.growthvalue
		and vip.maximal &gt;= u.growthvalue
		and rownum = 1) as VIP_LEVEL, uf.nation, uf.email, uf.phone,
		uf.birthday, uf.address, uf.avatar
		from HSPRD.TB_USER_023 u
		inner join hsprd.tb_userinfo_024 uf
		on u.user_id = uf.user_id
		inner join HSPRD.TB_ACCOUNT_027 ua
		on u.user_id = ua.user_id
		inner join HSPRD.TB_CREDIT_026 ucy
		on u.user_id = ucy.user_id
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>

	</select>
</mapper>