<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hszsd.webpay.dao.CommonDao" >
  <select id="selectTransNo" resultType="java.lang.String">
    SELECT HSPRD.SEQ_TRANS_ID.NEXTVAL FROM DUAL
  </select>
</mapper>